<form action="login" method="post">
	<legend>Login</legend>
	{{#showErrors}}
		<div class="alert-container alert-error">
			{{# if firstname}}
				Firstname is required
			{{else if lastname}}
				Lastname is required
			{{else if email}}
				Email is required
			{{else if password}}
				Password needs atleast 6 strong characters
			{{else if confirmPassword}}
				Confirm Password is required
			{{else if mismatch}}
				Passwords did not match
			{{/if}}

		</div>
	{{/showErrors}}
	<div class="input-field">
		<label html="text-field">User Name</label>
		<input 
			type="text" 
			name="username"
			{{#if username}}
				class="input-error"
			{{else}} 
				class="input"
			{{/if}}	
			{{#if entries.errors}}
				value="{{entries.username}}"
			{{else}}
				placeholder="Enter User Name"
			{{/if}}
		/>
	</div>
	<div class="input-field">
		<label html="text-field">Password</label>
		<input 
			type="password"
			name="password" 
			{{#if password}}
				class="input-error"
			{{else}} 
				class="input"
			{{/if}}
			{{#if entries.errors}}
				value="{{entries.password}}"
			{{else}}
				placeholder="Enter Your Password"
			{{/if}} 
		/>
	</div>
	<div class="input-field forgot-password">
		<span><a href="/users/forgot-password">Forgotten Password</a></span>
	</div>
	<div class="input-field button-container">
		<button class="btn-large default input-button">Login</button>
	</div>
	
	<div class="input-field" align="center">
		<a class="btn-large facebook-login input-button" href="/facebook">Login with Facebook</a>
	</div>

	<div class="input-field" align="center">
		<a class="btn-large gmail-login input-button" href="/google">Login with Google</a>
	</div>

	<div class="input-field sign-up">
		<span>New User? <a href="/register">Register</a></span>
	</div>
</form>
